body{
    background-color: whitesmoke;
}
.container{
    margin: auto;
    text-align: center;
    font-size: 17px;
}
.ccontainer{
    border: solid 1px black;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    margin: auto;
    background-color: white;
}
.ccontainer input{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    border-color: black;
}
.ccontainer input:hover{
    border-color: blueviolet;
}
#entrar{   
    margin: auto;
    text-align: center;
    width: 140px;
    color: white;
    background-color: blueviolet;
}
.ccontainer a{
    display: flex;
    margin: auto;
    text-align: center;
}
#criarconta a{
    display: flex;
    margin: auto;
    color: white;
    text-decoration: none;
}
#criarconta{
    background-color: rgb(63, 212, 63);
}
.entrar{
    border-bottom: solid 1px black;
}
.entrar a{
    padding: 10px;
    margin: auto;
    text-align: center;
    width: fit-content;
    text-decoration: none;
    color: rgb(146, 48, 238);
}
#entrar:hover{
    background-color: rgb(101, 50, 150);
}
#criarconta:hover{
    background-color: rgb(64, 185, 64);
}
.naocriada{
    display: flex;
    margin: auto;
    text-align: center;
    width: fit-content;
    padding: 10px;
}
.container input, button, a{
    padding: 10px;
    font-size: 17px;
}
.mostrarsenha{
    padding: 10px;
}
footer{
    background-color: black;
    padding: 1px;
    margin: auto;
    text-align: center;
    color: white;
}
footer a{
    text-decoration: none;
    color: #551a8b;
}
footer a:hover{
    color: #451b6b;
}